<?xml version="1.0" encoding="utf-8"?>
<!-- 
  This configuration file must be supplied with each Diagnosis Algorithm.
  It specifies the information necessary to properly execute it.
-->
<diagnosisAlgorithm>

  <!-- The full name of this diagnosis algorithm -->
  <name>TARDEC CASSI CBM Team Diagnostic Algorithm</name>
  
  <!-- 
      The name of the executable or .jar file to run.
      Attributes:  
        platform - the platform this DA is meant to run on (can be Windows, Linux, or Java)
        mainClass - for Java DAs, the main class to execute (must contain main() method)
    -->
  <application platform="Java" version="0.1.01" mainClass="gov.dod.army.rdecom.tardec.tcctda.DiagnosticAlgorithm">DiagnosticAlgorithm.jar</application>

  <!-- List of supported systems, each contained in a nested <system> element. -->
  <!-- name - System name. ScenarioLoader will run the DA with scenarios from each supported system -->
  <!-- 
    args - Arguments to  pass to the DA when run with this system's scenarios.
    -system="ADAPT" is an example argument, it can be replaced with anything.
  -->
  <supportedSystems>
    <!-- **uncomment a system to enable ExampleJavaDA** -->
    
    <!--system>
      <name>polycell</name>
      <args>-system="polycell"</args>
    </system-->
    <system>
      <name>ADAPT-Lite</name>
      <args>-system="ADAPT-Lite"</args>
    </system>
    <!--system>
      <name>ADAPT</name>
      <args>-system="ADAPT"</args>
    </system>
    -->
  </supportedSystems>
  
  <!-- DA Developer/Competitor contact info -->
  <contact>
    <name>Jeremy Mange</name>
    <email>jeremy.b.mange.ctr@us.army.mil</email>
    <role>Software Engineer</role>
  </contact>
  <contact>
    <name>Andrew Dunn</name>
    <email>andrew.g.dunn@us.army.mil</email>
    <role>Software Engineer</role>
  </contact>
  <contact>
    <name>Michael Duffy</name>
    <email>michael.j.duffy2.ctr@us.army.mil</email>
    <role>Aerospace Engineer</role>
  </contact>
  
</diagnosisAlgorithm>

